$primary-color: #F44336;
$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;

$background-icons: #FFFFFF;
$accent-color: #607D8B;

$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
