@import 'variables.scss';
@import 'mixins.scss';
@import 'colums.scss';

*,
*:before,
*::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: block;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}
/*************** HEADER ***************/
@import "header.scss";

@import "body.scss";

@import "card.scss";

@import "button.scss";