<form onSubmit={generarOrden} onChange={handleChange}>
    <input type="text" name="name" placeholder="Nombres" value={dataForm.name} required="">
    <input type="phone" name="phone" placeholder="celular" value={dataForm.phone} required="">
    <input type="email" name="email" placeholder="correo" value={dataForm.email} required="">
    <input type="email" name="emailr" placeholder="repite el correo" value={dataForm.email} required="">
    <small>Sus datos correctos nos permitirán entregarle los productos de forma correcta y oportuna.</small>
    <button type="submit" class="button"> Terminar Compra</button>
</form>